<div class="container">
    <p>
        Profit based education is morally and ethically wrong.
        Modern coaching centres are not education institutes rather they are cheats.
        Under privileged are not getting quality education due to this coaching centres.
        Modern coaching centres work on probabilistic principles.
    </p>
    <strong><code>How we are different?</code></strong>
    <p>
        Students of same batch would share the internet cost of the coaching session.
        It is completely optional to pay to the teacher ranging from 1 rupee to anything as they wish.
        Individual attention would be given to every student. Students would be encouraged to solve the problems on their own and slight hand holding may be provided.
    </p>
    <strong><code>What is our success?</code></strong>
    <p>
        If we could make an at least one under privileged student on par with privileged students then we believe that is the success.
    </p>
</div>
